<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Health Care
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Apps</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong>Create Our Health care system</strong>
        <p>Visit github<a target="_blank" rel="noopener noreferrer" href="https://github.com/Donaldcho/healthcare-system">UI Components</a></p>
    </div>
</ion-content>